
<div class="row">
    <div class="col-md-6">

        İŞYERİ BİLGİLERİ SİPARİŞ ÖZETİ VS.

    </div>

    <div class="col-md-6">
        <div id="iyzipay-checkout-form" class="responsive">
            @Html.Raw(ViewBag.Content)
        </div>
     
    </div>


    
</div>

